<main>
    <!-- <header>
        <h1>Felipe Santos Nascimento</h1>
    </header>

    <section id="contato">
        <div class="contato">
            <p>Itu - SP, Brasil | <b>Celular: </b> (11) 99202-2982 | <b>WhatsApp: </b> (13) 98108-1838</p>
            <p><b>E-mail: </b> <a href="mailto:felipenascimentooudri@gmail.com">felipenascimentooudri&#64;gmail.com</a> |
                <b>Linkedin: </b> <a href="https://www.linkedin.com/in/felipe-nascimento-539041127/" target="_blank">www.linkedin.com/in/felipe-nascimento</a>
                | <a href="https://github.com/felip-SN" target="_blank">GitHub</a>
            </p>
        </div>
    </section>

    <section id="resumo" class="resumo">
        <p>
            <b>RESUMO: </b>
            Desenvolvedor Front-End com experiência em criação de interfaces intuitivas e responsivas. 
            Possuo conhecimento em Angular, TypeScript, HTML, CSS e integração com back-end. 
            Implemento métodos de segurança para proteção de dados e comunicação eficiente entre as camadas do sistema. 
            Busco oportunidade para aplicar e expandir meus conhecimentos na área de tecnologia.
        </p>
        
        <div class="menu">
            <input type="checkbox" name="menu" id="menu" class="menu-toggler">
            <label for="menu" class="menu-toggler-label"><b>HABILIDADES: </b></label>
            <br>
            <ul class="a stagger-menu">
                <li style="--i: 0">C, C#</li>
                <li style="--i: 1">Angular, TypeScript, HTML, CSS</li>
                <li style="--i: 2">Git, GitHub</li>
                <li style="--i: 3">Illustrator, Photoshop, Pacote Office</li>
                <li style="--i: 4">Unity Engine</li>
                <li style="--i: 5">Inglês intermediário</li>
            </ul>
        </div>
    </section>

    <section id="experiencia" class="experiencia">
        <div id="mmdata">
            <p><b>EXPERIÊNCIA PROFISSIONAL: </b></p>

            <p>
                <b>MMData | Desenvolvedor Front-End</b><br>
                <small>1 ano de experiência - 2023/2024</small>
            </p>
            <ul>
                <li>Desenvolvi os componentes dos sistemas propostos usando Angular/TypeScript</li>
                <li>Era responsável pela integração da API (.NET) aos respectivos sistemas</li>
                <li>Criava códigos e métodos para garantir a segurança dos dados do usuário no Sistema</li>
                <li>Respondia às demandas a partir de sprints, seguindo o modelo da metodologia ágil Scrum</li>
                <li>Fui responsável por implementar uma melhoria de código para consulta no banco de dados utilizando PHP/MySQL</li>
            </ul>
        </div>

        <div id="prefeitura-itu">
            <p>
                <b>Prefeitura de Itu | Estagiário de Laboratório</b><br>
                <small>Outubro de 2024 - Momento</small>
            </p>
            <ul>
                <li>Responsável pelo funcionamento e cuidado do laboratório de informática da escola Rede Saber II</li>
                <li>Suporte técnico e manutenção preventiva dos equipamentos do laboratório</li>
                <li>Organização do ambiente de TI para garantir seu pleno funcionamento</li>
                <li>Atendimento a alunos e professores para resolução de problemas técnicos</li>
            </ul>
        </div>
    </section>

    <section id="educacao" class="educacao">
        <p><b>EDUCAÇÃO: </b></p>

        <div class="sao-judas">
            <p>
                <b>Universidade São Judas Tadeu</b><br>
                Graduação em Jogos Digitais
                2020 - 2023
            </p>
        </div>

        <div class="etec">
            <p>
                <b>Etec Aristótoles Ferreira</b><br>
                Ensino Médio Integrado ao Técnico de Jogos Digitais<br>
                2018 - 2020
            </p>
        </div>

        <div class="fatec">
            <p>
                <b>Fatec Itu - Dom Amaury Castanho</b>
                Análise e Desenvolvimento de Sistemas (3º semestre)<br>
                Previsão de Conclusão: 2026
            </p>
        </div>
    </section> -->

    <div id="container">
        <div class="item" 
        [ngClass]="{active: item.active}"
        *ngFor="let item of items; let index = index">
            <div class="heading" (click)="itemClicked(index)">{{item.title}}</div>
            <div class="content">
                {{ item.content }}
            </div>
        </div>
    </div>
</main>