main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-color: white;
    padding: 15px 25px 15px 25px;

    border-radius: 15px;
}

.contato{
    border-bottom: 1px solid black;

    text-align: center;
}

.resumo{
    text-align: justify;
    text-justify: inter-word;

    border-bottom: 1px solid black;

    .menu{
        overflow-x: hidden;

        label{
            cursor: pointer;
        }
    }

    .menu-toggler{
        display: none;
    }

    .stagger-menu li {
        opacity: 0;
        transform: translateX(100%);
        transition-property: opacity, transform;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
    }

    .menu-toggler:checked ~ .stagger-menu li{
        opacity: 1;
        transform: translateX(0);
        transition-delay: calc(0.055s * var(--i));
    }
}

.experiencia{
    text-align: start;

    border-bottom: 1px solid black;
}

.educacao{
    text-align: start;
}

@media (max-width: 900px){
    main{
        width: fit-content;
    }
}

#container{
    .item{
        .heading{
            background-color: blue;
            padding: 20px 20px;
            color: white;
            cursor: pointer;
        }
    
        .content{
            background-color: gray;
            padding: 0px 20px;
            border: 1px solid gray;
            max-height: 0;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
        }
    }

    &.active{
        .content{
            padding: 20px;
            max-height: inherit;
        }
    }
}