<main>
    <header>
        <h1>Felipe Santos Nascimento</h1>
    </header>

    <section id="contato">
        <div class="contato">
            <p>Itu - SP, Brasil | <b>Celular: </b> (11) 99202-2982 | <b>WhatsApp: </b> (13) 98108-1838</p>
            <p><b>E-mail: </b> <a href="mailto:felipenascimentooudri@gmail.com">felipenascimentooudri&#64;gmail.com</a>
                |
                <b>Linkedin: </b> <a href="https://www.linkedin.com/in/felipe-nascimento-539041127/"
                    target="_blank">www.linkedin.com/in/felipe-nascimento</a>
                | <a href="https://github.com/felip-SN" target="_blank">GitHub</a>
            </p>
        </div>
    </section>

    <section id="resumo" class="resumo">
        <p>
            <b class="animation-color">RESUMO: </b>
            Desenvolvedor Front-End com experiência em criação de interfaces intuitivas e responsivas.
            Possuo conhecimento em Angular, TypeScript, HTML, CSS e integração com back-end.
            Implemento métodos de segurança para proteção de dados e comunicação eficiente entre as
            camadas do sistema.
            Busco oportunidade para aplicar e expandir meus conhecimentos na área de tecnologia.
        </p>

        <div class="menu">
            <input type="checkbox" name="menu" id="menu" class="menu-toggler">
            <label for="menu" class="menu-toggler-label"><b class="animation-color select-color">HABILIDADES:
                </b></label>
            <br>
            <ul class="a stagger-menu">
                <li style="--i: 0">C, C#</li>
                <li style="--i: 1">Angular, TypeScript, HTML, CSS</li>
                <li style="--i: 2">Git, GitHub</li>
                <li style="--i: 3">Illustrator, Photoshop, Pacote Office</li>
                <li style="--i: 4">Unity Engine</li>
                <li style="--i: 5">Inglês intermediário</li>
            </ul>
        </div>
    </section>

    <section id="experiencia" class="experiencia">
        <div class="menu">
            <input type="checkbox" name="menu2" id="menu2" class="menu-toggler">
            <label for="menu2" class="menu-toggler-label"><b class="animation-color select-color">EXPERIÊNCIA PROFISSIONAL:
                </b></label>

            <div class="stagger-menu">
                <div>
                    <p>
                        <b style="--i: 0">
                            <li class="test main-title">MMData | Desenvolvedor Front-End</li>
                        </b><br>
                        <small style="--i: 1">
                            <li class="test sub">1 ano de experiência - 2023/2024</li>
                        </small>
                    </p>
                    <ul>
                        <li style="--i: 2">Desenvolvi os componentes dos sistemas propostos usando Angular/TypeScript
                        </li>
                        <li style="--i: 3">Era responsável pela integração da API (.NET) aos respectivos sistemas</li>
                        <li style="--i: 4">Criava códigos e métodos para garantir a segurança dos dados do usuário no
                            Sistema</li>
                        <li style="--i: 5">Respondia às demandas a partir de sprints, seguindo o modelo da metodologia
                            ágil Scrum</li>
                        <li style="--i: 6">Fui responsável por implementar uma melhoria de código para consulta no banco
                            de dados utilizando PHP/MySQL</li>
                    </ul>
                </div>

                <div>
                    <p>
                        <b style="--i: 7">
                            <li class="test main-title">Prefeitura de Itu | Estagiário de Laboratório</li>
                        </b><br>
                        <small style="--i: 8">
                            <li class="test sub">Outubro de 2024 - Momento</li>
                        </small>
                    </p>
                    <ul>
                        <li style="--i: 9">Responsável pelo funcionamento e cuidado do laboratório de informática da
                            escola Rede Saber II</li>
                        <li style="--i: 10">Suporte técnico e manutenção preventiva dos equipamentos do laboratório</li>
                        <li style="--i: 11">Organização do ambiente de TI para garantir seu pleno funcionamento</li>
                        <li style="--i: 12">Atendimento a alunos e professores para resolução de problemas técnicos</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="educacao" class="educacao">
        <div class="menu">
            <input type="checkbox" name="menu3" id="menu3" class="menu-toggler">
            <label for="menu3" class="menu-toggler-label"><b class="animation-color select-color">EDUCAÇÃO: </b></label>

            <div class="stagger-menu">
                <div class="sao-judas">
                    <p>
                        <b style="--i: 0">
                            <li class="test main-title">Universidade São Judas Tadeu</li>
                        </b><br>
                        <small style="--i: 1">
                            <li class="test sub">Graduação em Jogos Digitais
                                2020 - 2023</li>
                        </small>
                    </p>
                </div>

                <div class="etec">
                    <p>
                        <b style="--i: 2">
                            <li class="test main-title">Etec Aristótoles Ferreira</li>
                        </b><br>
                        <small style="--i: 3">
                            <li class="test sub">Ensino Médio Integrado ao Técnico de Jogos Digitais</li>
                        </small>
                    </p>
                </div>

                <div class="fatec">
                    <p>
                        <b style="--i: 4">
                            <li class="test main-title">Fatec Itu - Dom Amaury Castanho</li>
                        </b><br>
                        <small style="--i: 5">
                            <li class="test sub">Análise e Desenvolvimento de Sistemas (3º semestre) <br> Previsão de
                                Conclusão: 2026</li>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
